/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
  font-size: 14px;
  font-family: arial;
  line-height: 20px;
  background: #E2E4E8;
}
.template{
  width: 960px;
  margin: 0 auto;
}
.clear{
  overflow: hidden;
}
.headersection{
  height: 110px;
  background: #736C6D ;
}
.title{
  float: left;
  margin-left: 50px;
  width: 300px;
  margin-top: 10px;
  color: #FF5733;
}
.extra{color: #fff;}
.title h2{
  font-size: 40px;
}
.menu{
     float: right;
    width: 550px;
    margin-top: 48px;
    color: #FF5733;
}
.menu a{
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: #b9b9b9;
  padding-left: 5px;
  padding-right: 5px;
}
.menu a:hover,#active{
  color: #FF5733;
}
.mainsection{
  background: #fff;
}
.maintop{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 18px;
    border-bottom: 2px dotted #ccc;
}
.maintop h2{
  font-size: 30px;
  color: #333;
}
.maintop h3{
  font-size: 22px;
  color: #5a5a5a;
}
.content{
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 25px;
 
}
.description{
   text-align: center;
}
.description p{
  font-size: 19px;
  color: #333;
  line-height: 21px;
}
.midcontent{
  
  height: 260px;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ff5733+0,ff6700+100 */
background: #ff5733; /* Old browsers */
background: -moz-linear-gradient(left, #ff5733 0%, #ff6700 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #ff5733 0%,#ff6700 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #ff5733 0%,#ff6700 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5733', endColorstr='#ff6700',GradientType=1 ); /* IE6-9 */
}
.midleft{
 float: left;
    width: 346px;
    margin-right: 24px;
    text-align: center;
    padding: 30px;
    color: #fff;
}
.midleft h2{
  font-size: 22px;
    border-bottom: 2px dotted;
    /* padding: 20px; */
    padding-bottom: 20px;
    width: 200px;
    margin-left: 65px;
}
.midleft p{
  font-size: 16px;
    line-height: 18px;
    font-weight: bold;
}
.midimg{
    float: left;
    width: 430px;
    text-align: center;
    margin-top: 12px;
}
.midimg img{
      width: 330px
}
.post{
  
    border-top: 2px dotted #ccc;
    border-bottom: 2px dotted #ccc;
    padding-bottom: 25px;
    padding-top: 30px;
    margin-right: 50px;
    margin-left: 50px;
}
.allpost{
  margin-left: -50px;
}
.samearticle{
    color: #fff;
    float: left;
    width: 203px;
    margin-left: 50px;
    /* padding: 20px; */
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
    padding-bottom: 25px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffaa66+0,ff7400+100 */
background: #ffaa66; /* Old browsers */
background: -moz-linear-gradient(top,  #ffaa66 0%, #ff7400 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #ffaa66 0%,#ff7400 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #ffaa66 0%,#ff7400 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaa66', endColorstr='#ff7400',GradientType=0 ); /* IE6-9 */

}
.samearticle h2{
  font-size: 25px;
    border-bottom: 2px dotted;
    padding-bottom: 10px;
}
.samearticle p{}
.linkpost{
  background: azure;
    padding: 5px;
    width: 160px;
    margin-left: 16px;
}
.linkpost a{
  text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: #FF5733;
}
.footersection{
  background: #fff;
}
.footer{
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
  color: #777;
  margin-bottom: 10px;
  margin-top: 5px;
}
.footer p{
  margin: 0px;
}
.footer a{
  color: #777;
}
.footer a:hover{
  text-decoration: none;
  color: green;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

/*Response Design*/
@media screen and (max-width: 760px){
.template{
  width: 760px;
  
}
.title {
  
  margin-left: 5px;
  width: 240px;
  margin-top: 20px;
  
}
.title h2{
  font-size: 32px;
}

.menu {
  
  width: 515px;
  
}
.menu a{
  font-size: 18px;
}
.midleft {
 
  width: 280px;
  margin-right: 10px;
  
}
.midimg {
  width: 310px;
}
.midimg img {
  width: 270px;
  margin-top: 40px;
}
.midleft h2 {
 
  margin-top: 0px;
  padding-bottom: 10px;
  
  margin-left: 25px;
}
.samearticle{
  width: 151px;
  margin-left: 30px;
}
.allpost {
  margin-left: -35px;
}
.samearticle h2 {
  font-size: 20px;
  
}
.linkpost {
  
  margin-left: -9px;
}
}
@media screen and (max-width: 480px){
.template{
  width: 470px;
}
.title h2 {
  font-size: 40px;
  margin-top: 0px;
  margin-top: 25px;
}
.title {
  width: 470px;
  text-align: center;
  margin-left: 0px;
  margin-top: 0px;
}
.menu{
  margin-top: -10px;
  margin-left: 80px;
  width: 472px;

}
.menu a {
  
  font-size: 16px;
  font-weight: bold;
  padding-left:0px; 
  padding-right:0px;
  margin-left: 15px;
}
.maintop h2 {
  font-size: 25px;
  margin-top: 0px;
}
.maintop h3 {
  font-size: 16px;
  margin-top: -14px;
}
.midleft h2 {
  margin-left: 45px;
}
.midleft {
  width: 310px;
}
.midcontent {
  height: 100%;
}
.midimg{
  width: 380px;
}
.midimg img {
  width: 335px;
  margin-top: -5px;
  margin-left: 10px;
}
.samearticle {
  width: 325px;
  margin-bottom: 10px;
}
.linkpost{
  width: 100%;
}
}
@media screen and (max-width: 320px){
.template{
  width: 310px;
  
}
.title {
  width: 320px;
  
}
.title h2 {
  font-size: 35px;
}
.menu a {
  font-size: 12px;
  margin-left: 0px;

}
.menu {
  width: 100%;
  text-align: center;
}
.maintop {
  margin-left: 20px;
  margin-right: 16px;
  margin-top: 10px;
}
.maintop h2 {
  font-size: 18px;
}
.maintop h3 {
  font-size: 12px;
  text-align: center;

}
.description p {
  font-size: 15px;
  line-height: 16px;
  margin-top: 10px;
}
.midleft {
  width: 170px;
  padding: 10px;
  margin-left: 10px;
}
.midleft h2 {
  font-size: 20px;
  margin-left: -10px;
  width: 184px; 
}
.midleft p {
  font-size: 14px;
  line-height: 16px;
  margin-top: -7px;
}
.midimg img {
  width: 185px;
  margin-top: -3px;
  margin-left: -85px;
}
.midimg{
  width: 310px;
  margin-top: -7px;
}
.samearticle {
  width: 170px;
}
.linkpost a {
  font-size: 15px;
}
}


